/*html {
	background: rgba(245, 245, 245, 1.0);
}

.title {
	font-family: 'Lato', sans-serif !important;
}

.panel-dark {
	background: rgba(219, 65, 86, 1.0);
}

.panel-light {
	background: rgba(255, 255, 255, 1.0);
}

.panel-dark .title, .panel-dark .subtitle, .panel-dark .content {
	color: white !important;
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: rgba(219, 65, 86, 1.0);
}

input:focus {
	border-color: rgba(200, 200, 200, 1.0) !important;
}*/

body {
	font-family: 'Lato', sans-serif !important;
}

::moz-selection {
	color: white !important;
	background: #30AACB !important;
}

::selection {
	color: white !important;
	background: #30AACB !important;
}

.title {
	font-weight: bold !important;
}

.cell {
	padding: 0.75rem 0;
}

.hidden {
	display: none;
}

.charter-head {
	padding: 0 0.75rem !important;
}

.charter-body .tile.is-child {
	/*background: rgba(0, 0, 0, 0.1);*/
}

.charter-body figure img {
	border-radius: 50%;
}

.charter-body .tile-editable + .control {
	margin-top: 1.5em;
}

header figure img {
	border-radius: 50%;
}

.image-tag-rounded {
	margin-right: 0.125em;
}

.image-tag-rounded img {
	width: 75% !important;
	height: 75% !important;
	margin-top: 12.5% !important;
	border-radius: 50%;
}

.icon-image {
	text-align: center;
	background: #30AACB;
	border-radius: 50%;
}

.icon-image i {
	color: white;
	vertical-align: middle !important;
}

.icon-image.is-48x48 {
	line-height: 48px;
}

.contrast-color .title, .contrast-color .subtitle{
	color: #30AACB !important;
}

.title.is-inverted, .subtitle.is-inverted {
	color: white !important;
}

.is-inverted p, .is-inverted h1 {
	color: white !important;	
}

.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {
	background: #30AACB;
}

.tabbed-container {
	display: none;
}

.loading h3 {
	color: #30AACB !important;
}

.team-link: {
	margin: 0.5em 0 !important;
}

.mentoring .is-hidden-to-mentor {
	display: none !important;
}

.nav-toggle .image {
	margin: 10px auto;
}

.table-holder {
	overflow-x: scroll !important;
}

.is-dashed {
	border-style: dashed !important;
}

.is-normally-spaced {
	margin-top: -0.5rem !important;
}

.is-neatly-spaced {
	margin-top: -1.0rem !important;
}

.is-7 {
	font-size: 0.85rem !important;
}

.is-grouped {
	margin-top: 0.5rem !important;
}

.is-grouped .button {
	margin-left: 0.25rem !important;
}

.is-grouped .button:nth-child(1) {
	margin-left: 0 !important;
}

.is-rounded img {
	border-radius: 50%;
}

.is-inline-image {
    display: inline-block;
    vertical-align: text-top;
    margin-top: 0.1rem;
}

.is-faded {
	opacity: 0.5;
}

.comment {
	margin-bottom: 1rem !important;
}

.menu ul {
	list-style: none !important;
}

/* PROMISE */

.box .content.is-bottom-section {
	background: #f8f8f8;
	padding: 1.25rem;
	margin: -1.25rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 0;
}

.comment .generated-text {
	/*color: #30AACB !important;*/
}

.nlp-editable {
	color: #30AACB;
    text-decoration: underline;
    text-decoration-color: #30AACB;
    text-decoration-style: dashed;
}

.is-danger-text {
	color: #ff3860 !important;
}

/* LANDING PAGES */

html#educators-splash {
	background: #30AACB;
	/*background: url('../img/educators-splash.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.section.is-light {
	background: #ffffff !important;
}

.section.is-light.is-gra {
	background: #f8f8f8 !important;
}

.section.is-dark {
	background: #47525d !important;
}

.section.is-dark.is-contrast {
	background: #30AACB !important;
}

.section.is-light .content h1, .section.is-light .content p {
	color: #47525d !important;
}

.section.is-dark .content h1, .section.is-dark .content p {
	color: #ffffff !important;
}

.is-splash {
	padding: 4rem 1.5rem !important;
	/*padding: 4rem 1.5rem 0 1.5rem !important;*/
}

.is-splash-large {
	padding: 8rem 1.5rem !important;
}

.is-splash.notification {
	margin-bottom: 0 !important;
}

.is-splash-img-bottom {
	margin-bottom: -4rem;
	box-shadow: 0 0 30px rgba(71, 82, 93, 0.15);
}

.section.is-light .is-splash-img-bottom {
	box-shadow: 0 0 30px rgba(71, 82, 93, 0.15);
}

.icon.is-marker {
	margin: 0 auto;
	display: block;
}

.marker-holder {
	margin: -0.5rem auto;
}

.marker-holder :nth-child(2) {
	padding: 0.5rem 1.5rem;
}

.is-transparent-background {
	background: transparent !important;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
	background: #30AACB !important;
}

/* ROLES */

hr.is-primary {
	background: #30AACB !important;
}

.message-header .title {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.message-header.is-contrast .title, .message-header.is-contrast .icon {
	color: white !important;
}

.message-header button {
	background: none;
	border: none;
	outline: none;
}

.message-header:hover {
	cursor: pointer;
}

.message.is-collapsed .message-body {
	display: none;
}

.message .show-collapsed, .message.is-collapsed .show-unfurled {
	display: none;
}

.message .show-unfurled, .message.is-collapsed .show-collapsed {
	display: block;
}

.message.is-primary.is-outlined .message-header {
	background: white;
	border: 1px solid #30AACB;
}

.message .message-header .title {
	margin-left: 1.75em;
}

.circle {
	position: absolute;
	border: 1px solid #30AACB;
	border-radius: 100%;
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.75em;
	text-align: center;
}

.is-contrast .circle {
	background: white;
	border: none;
}

.message.is-success .is-contrast .circle .icon {
	color: #23d160 !important;
}

.message.is-success .message-body .button {
	display: none !important;
}

.circle-holder {
	float: left;
}

.circle-connector {
	position: relative;
	margin-top: 30px;
}

.circle-connector:first-child {
	margin-top: 0;
}

.circle-connector:before {
	position: absolute;
	border: 1px solid #30AACB;
	border-right: none;
	width: 0;
	height: 30px;
	display: block;
	content: '';
	left: 1.5em;
	z-index: 1;
	top: -30px;
	margin-left: -1px;
}

.circle-connector:first-child:before {
	display: none;
}

.tag.is-code {
	color: #ff3860;
	font-family: monospace;
	font-weight: bold;
}


